body {
    padding: 2rem;
    margin-left: 0;
}

p {
    font-size: 1.1rem;
    margin-right: 1rem;
}

@media (min-width: 850px) {
    .row {
        display: flex;
        
    }
}

@keyframes make-bold {
    from {font-weight: 400;}
    to {font-weight: 700;}
}

@keyframes color-keyword {
    from {color: white}
    to {color: slateblue}
}

@keyframes color-function {
    from {color: white}
    to {color: palegoldenrod}
}

@keyframes color-ctype {
    from {color: white}
    to {color: lightseagreen}
}

@keyframes color-variable {
    from {color: white}
    to {color: lightskyblue}
}

@keyframes color-cstructure {
    from {color: white}
    to {color: magenta}
}

.row {
    margin-bottom: 2rem;
}

.column {
    flex: 1;
}

.code {
    color: white;
    font-family: 'Cascadia Code', Consolas, 'Courier New', Courier, monospace;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #1c1c1c;
    font-size: 1rem;
    margin: 0 2rem 0 0;
}

.terminal {
    font-size: 1rem;
    font-family: 'Cascadia Code', Consolas, 'Courier New', Courier, monospace;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #1c1c1c;
    margin: 0 2rem 0 0;
}

.code-comment {
    color:gray;
}

.code-keyword-colored {
    color: slateblue;
    animation-name: color-keyword;
    animation-duration: 1s;
}

.code-function-colored {
    color: palegoldenrod;
    animation-name: color-function;
    animation-duration: 1s;
}

.code-ctype-colored {
    color: lightseagreen;
    animation-name: color-ctype;
    animation-duration: 1s;
}

.code-variable-colored {
    color: lightskyblue;
    animation-name: color-variable;
    animation-duration: 1s;
}

.code-cstructure-colored {
    color: magenta;
    animation-name: color-variable;
    animation-duration: 1s;
}

.img-caption {
    background-color: rgba(0, 0, 0, .25);
    margin: 0 2rem 0 0;
    padding: 0 0.5rem 0.25rem 0.5rem;
}

b {
    font-weight: 400;
}

.bold {
    animation-name: make-bold;
    animation-duration: .75s;
    font-weight: 700;
}

.title {
    font-family: 'EB Garamond', serif;
    font-size: 3rem;
    margin-bottom: 0rem;
    margin-top:0;
}