body {
    cursor: pointer;
    background-color: var(--primary-color);
}

.home-icon {
    margin: -2rem;
    padding: 2rem;
    background: radial-gradient(circle, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 50%);
}

#logo {
    position: sticky;
    z-index: 999;
    margin: -1.5rem 0 0 0;
    opacity: 1;
    transition: opacity .3s ease-in-out
}

.main-title {
    font-family: 'EB Garamond', serif;
    font-size: 3rem;
    margin-bottom: 0rem;
    margin-top:0;
}

#video {
    max-width: 100%;
    margin-top: 7rem;
}

@media (min-width: 600px) {
    #logo {
        position: fixed;        
    }

    
    
    #video {
        margin-top: 0;
        position: fixed;
        right: 0;
        top: 0;
        min-width: 100%;
        min-height: 100%;
    }

    .content {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 2rem;
        margin-left: -1rem;
        background-color: rgba(0,0,0,1);
        background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);
        opacity: 1;
        transition: opacity .3s ease-in-out;
    }


}