:root {
    --primary-color: #192a51;
    --accent-color: #FF4365;
    --light-color: rgba(255, 255, 255, 0.9);
}

@font-face {
    font-family: 'Cabin';
    src: url('resources/fonts/Cabin-VariableFont_wdth\,wght.ttf') format("truetype-variations");
    font-weight:1 999;
}

@font-face {
    font-family: 'EB Garamond ';
    src: url('resources/fonts/EBGaramond-VariableFont_wght.ttf');
    font-weight: 1 999;
}

html {
    scroll-behavior: smooth;
    color: var(--light-color)
}

body {
    color: var(--light-color);
    font-family: 'Cabin';
    background-color: var(--primary-color);
    background-image: url("resources/45-degree-fabric-dark.png");
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    font-variation-settings: 'wdth' 75, 'wght' 400;
    color: var(--light-color);
    opacity: .82;
    transition: color .3s ease-in-out, font-variation-settings .3s ease-in-out;
}

.home-icon {
    height: 2.25rem;
    fill: var(--light-color);
    transition: fill .3s ease-in-out;
}

a:hover, .home-icon:hover {
    color: var(--accent-color);
    font-variation-settings: 'wdth' 100, 'wght' 700;
    fill: #FF4365;
}

#logo {
    z-index: 999;
    bottom: calc(100% - 6.5rem);
    padding: 1.5rem;
    margin: -1.5rem 0 0 -1.5rem;
    opacity: 1;
}

.main-title {
    font-family: 'EB Garamond', serif;
    background-color: #474747;
    color: transparent;
    text-shadow: 0rem .05rem .05rem #ebebeb;
    -webkit-background-clip: text;  
    -moz-background-clip: text;
    background-clip: text;
}
