html{
    background-color: #192A51;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 1rem 1rem 1.5rem 0rem;
}

.centered-home {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
}

.main-signature {
    height: 5rem;
    fill: white;
    width: 100%;
    align-content: center;
}

.subtitle {
    font-family: 'EB Garamond', serif;
    font-weight: lighter;
    font-size: 1.75rem;
    color: #9D75CB;
    background: #593484;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0rem .025rem .025rem;
}

a {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-decoration: none;
    font-size: 1.25rem;
    padding: .5rem;
    color: white;
    opacity: .82;
}
a:hover {
    color: #FF4365;
    font-weight: bold;
}

.home-icon {
    height: 2.25rem;
    fill: #9D75CB;
}
.home-icon:hover {
    fill: #FF4365;
}

.title {
    color: white;
    opacity: .82;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 2.25rem;
}

.text {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: white;
    width: 40rem;
    margin-bottom: 1rem;
    opacity: .82;
}