#home {
    padding-bottom: 200px;
}

.home-section {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-section p {
    font-size: 3rem;
    text-align: center;
}

#home0 {
    height: 100vh;
}

#home1 {
    opacity: 1;
}

#home h1 {
    font-size: 6rem;
}

#home1 strong {
    background: linear-gradient(90deg, rgba(0,128,199,1) 0%, rgba(213,180,0,1) 42%, rgba(255,0,123,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
}

#home2 strong {
    background: radial-gradient(circle, rgba(246,180,14,1) 0%, rgba(255,255,255,1) 25%, rgba(0,128,199,1) 74%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}

#home3 {
    height: 150vh;
    align-items: flex-start;
}

#home3 strong:first-child {
    color: rgba(15,51,92,1);
    background-size: 200%;
}

#home3 strong:last-child {
    display: none;
    opacity: 0;
    background: radial-gradient( circle farthest-corner at 32.7% 82.7%,  rgba(173,0,171,1) 8.3%, rgba(15,51,92,1) 79.4% );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
}

#projects {
    padding: 20px 20px 20px 20px;
    height: 100vh;
}

#filters-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

#platform-filter {
    padding: 3px 7px 3px 7px;
    background-color: #0b131e05;
    border-radius: 100px;
}

#platform-filter .indicator {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: white;
    transform: translate(-6px, -8px);
    border-radius: 50%;
    mix-blend-mode: difference;
}

#platform-filter img {
    width: 28px;
    padding-left: 5px;
    padding-right: 5px;
}

select {
    text-align: right;
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    outline: none;
}
select:active {
    -webkit-appearance: none;
    outline: none;
}
select:focus {
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
    outline: none;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
}

.project {
    border-radius: 5px;
    overflow:hidden;
    box-shadow: 5px 5px 5px #00000010;
    margin-bottom: 15px;
    height: min-content;
    align-self: center;
    transition: all .3s ease-in-out;
}
.project:hover {
    box-shadow: 5px 5px 15px #00000050;
    transform: scale(1.01);
}

.project img {
    width: 100%;
    height: auto;
    display: block;
}

#contact-card-container {
    margin: -50px -10px -50px -10px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    background-color: #00000050;
    z-index: 10;
    justify-content: center;
    align-items: center;
    display: none;
}

#contact-card {
    padding: 20px;
    background-color: #f9f9f9;
    height: fit-content;
    width: 280px;
    border-radius: 5px;
    box-shadow: #00000050 4px 4px 20px;
    text-align: center;
}
#contact-card h2 {
    padding: 10px;
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 1px 1px rgba(255,255,255,.7);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
#contact-card a {
    margin: 10px;
    display: block;
}