#home {
    padding-bottom: 200px;
}

.home-section {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-section p {
    font-size: 3rem;
    text-align: center;
}

#home0 {
    height: 100vh;
}

#home1 {
    opacity: 1;
}

#home h1 {
    font-size: 6rem;
}

#home p {
    font-size: 3rem;
}

#home1 strong {
    background: linear-gradient(90deg, rgb(214, 2, 112) 0%, rgb(155, 79, 150) 42%, rgb(0, 56, 168) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
}

#home2 strong {
    background: radial-gradient(circle, rgba(246,180,14,1) 0%, rgba(255,255,255,1) 25%, rgba(0,128,199,1) 74%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}

#home3 {
    height: 150vh;
    align-items: flex-start;
}

#home3 p {
    width: 100%;
}

#home3 strong:last-child {
    color: hsl(252, 50%, 60%);
    background-size: 200%;
}

#home3 strong:first-child {
    display: none;
    opacity: 0;
    color: hsl(150, 50%, 50%);
    /* background: radial-gradient( circle farthest-corner at 32.7% 82.7%,  rgba(0, 156, 44, 1) 8.3%, rgba(15,12,12,1) 79.4% );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%; */
}

#projects {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(100px);
    grid-gap: 5px;
    grid-template-areas:
        "h2 h2 h2"
        "hourglass academia academia"
        "hourglass nutricionista nutricionista"
        "todo bmi tenzies"
        "todo bmi tictactoe"
        "pong pong portfolio";
    transition: padding 1s ease-in-out;
}
#projects-title {
    grid-area: h2;
    font-weight: 600;
    font-size: 2rem;
    cursor: default;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: center;
}
#hourglass {
    grid-area: hourglass;
}
#hourglass img {
    object-fit: contain;
}
#academia {
    grid-area: academia;
    
}
#nutricionista {
    grid-area: nutricionista;
}
#pong {
    grid-area: pong;
}
#portfolio {
    grid-area: portfolio;
}
#portfolio img {
    object-fit: cover;
}
#todo {
    grid-area: todo;
}
#bmi {
    grid-area: bmi;
}

#tenzies {
    grid-area: tenzies;
}

#tictactoe {
    grid-area: tictactoe;
}

#xylophone {
    grid-area: xylophone;
}

#contact-card-container {
    margin: -50px -10px -50px -10px;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    display: flex;
    background-color: #000000A0;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    z-index: 10;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    place-items: center;
    opacity: 0;
    transition: all .3s ease-in-out;
}
#contact-card-container > a {
    text-align: left;
    width: 320px;
    font-weight: 600;
    padding-bottom: 10px;
    color: white;
    text-shadow: 1px 1px 5px #00000090;
    cursor: default;
}

#contact-card {
    padding: 20px;
    background-color: #f9f9f9;
    height: fit-content;
    width: 280px;
    border-radius: 5px;
    box-shadow: #00000050 4px 4px 20px;
    text-align: center;
    transform: scale(.2) translate(230vw, -230vh);
    opacity: 0;
    transition: transform .5s ease-in-out, opacity .5s ease-in;
}
#contact-card h2 {
    padding: 10px;
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 1px 1px rgba(255,255,255,.7);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
#contact-card a {
    margin: 10px;
    display: block;
    color: var(--main-light);
}

footer {
    width: 100%;
    margin-top: 5rem;
}
footer p {
    text-align: center;
    margin-bottom: 25px;
}
footer a {
    font-weight: 600;
    white-space: nowrap;
}
footer div {
    width: 150px;
    margin: auto;
}

.plain-btn {
    padding: 3rem;
    background: none;
    border: none;
    color: rgba(255, 255, 255, .52);
}

@media screen and (min-width: 750px) {
    #home h1 {
        font-size: 15rem;
    }

    #projects {
        padding: 100px 10vw 0 10vw;
    }

    #home p {
        font-size: 5rem;
    }

    #projects {
        padding: 100px;
        grid-gap: 20px;
    }
}

@media screen and (min-width: 1300px) {
    #projects {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto 325px 325px 325px 325px;
        grid-template-areas:
            "h2 h2 h2 h2"
            "hourglass academia academia bmi"
            "hourglass nutricionista nutricionista bmi"
            "pong pong todo tenzies"
            "portfolio portfolio todo tictactoe"; 
    }
}