body {
    background-color: var(--light-color);
    color: var(--dark-color);
}

h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 1.25rem;
}

a {
    color: var(--secondary-color);
}

section {
    margin: 0;
}

.content {
    padding: 0 10px 0 10px;
}

.hero {
    margin-top: 60px;
    max-height: 100vh;
    position: relative;
    margin-top: 60px;
    display: block;
    height: 50vh;
    cursor: pointer;
}

.computer-container {
    height: 100%;
    max-height: 90vh;
    margin: auto;
}

.computer {
    position: absolute;
    width: 100%;
    transition: all 1s ease-in-out;
    /* others */
    max-height: 100%;
    width: auto;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.computer-screen {
    position: absolute;
    z-index: -1;
    /* others */
    max-height: 58%;
    width: auto;
    max-width: 93%;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

#screen1 {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}
#screen2 {
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

nav {
    background-color: rgba(105,240,174, .7);
}
nav a {
    color: var(--dark-color);
}
nav a::after {
    content: "";
}

#xd-design-video {
    width: 100%;
}

.software-description {
    display: none;
}

#for-x-d, #for-x-m {
    text-align: center;
}

.gone-to-right {
    left: -100% !important;
    opacity: 0;
}

.gone-to-left {
    left: 200% !important;
    opacity: 0;
}

.software-description {
    font-weight: 900;
    background-color: rgba(255, 255, 255, .7);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px 0 10px 0;
}
.software-description strong {
    color: #2bbd7e;    
}

#tech-used {
    margin: 50px 0 50px 0;
}

#adobe-xd {
    position: relative;
}

#adobe-xd .white-gradient {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: white;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
}

#adobe-xd strong {
    color: #470137;
}

#css-bootstrap {
    position: relative;
    margin: 30px 0 30px 0;
}
#css-bootstrap img {
    margin-bottom: -4px;
    padding: 0;
    width: 100%;
}
#css-bootstrap h2 {
    margin: 0;
    padding: 15px;
    background: rgba(0, 0, 0, .02);
}

#css-strong {
    color: #264DE4;
}

#bootstrap-strong {
    color: #5A3779;
}

.card {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, .3) 5px 5px 20px;
}

.card h2 {
    padding-left: 10px;
    padding-right: 10px;
}

#architecture {
    display: flex;
    flex-wrap: wrap;
}

#sql, #java {
    padding: 0 20px 20px 20px;
    margin-bottom: 30px;
    height:500px;
    color: var(--light-color);
}

#sql {
    margin-right: 30px;
    background-color: #0B3948;
    flex: 1 0 calc(100% - 40px);
}

#java {
    flex: 1 0 calc(100% - 40px);
    background-color: #101419;
}
#java strong {
    color: #EC2025;
}

#sql strong {
    color: #E38E24;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}

code.bracket {
    font-size: 8rem;
    color: #0D8AC7
}

code.bracket.left {
    width: 100%;
    text-align: right;
}

#sql-image {
    max-width: 400px;
}

@media only screen and (min-width: 768px) {
    body {
        padding: 0 20% 0 20%;
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .hero {
        margin-top: 100px;
        display: block;
        height: 100vh;
    }

    .computer-container {
        height: 100%;
        max-height: 90vh;
        margin: auto;
    }
    .computer {
        position: absolute;
        height: 100%;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .computer-screen {
        height: 58%;
        width: auto;
        top: 3.8%;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    .software-description {
        display: block;
        padding: 10px 0 10px 0;
        color: var(--dark-color);
        position: absolute;
        top: 66%;
        width: 45%;
        left: 48%;
        transform: translateX(-50%);
        text-shadow: white 0 0 3px, white 0 0 3px;
    }
    .software-description p {
        font-size: 1.9rem;
    }

    .software-description-m {
        display: none;
    }

    #sql {
        flex: 1 1 0px;
    }

    #java {
        flex: 1 1 0px
    }
}