* {
    padding: 0;
    margin: 0;
    cursor:default;
}

:root {
    --main-dark: #0b131e;
    --main-light: #ffebf4;
}

@font-face {
    font-family: 'Inter';
    src: url('../resources/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

html, body {
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
    color: var(--main-dark);
    background-color: var(--main-light);
    font-family: Inter, sans-serif;
    scroll-behavior: smooth;
    max-width: 100%;
}

header {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    mix-blend-mode: difference;
}
header a {
    color: var(--main-light);
}

#navbar {
    float: right;
    padding: 20px;
}
#navbar a {
    padding-left: 20px;
    cursor: pointer;
    font-weight: 400;
}

a {
    color: var(--main-dark);
    text-decoration: none;
    transition: font-weight .3s;
    cursor: pointer;
}
a:hover {
    font-weight: 900;
}

main {
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 480px) {
}