@font-face {
  font-family: "Inter Variable";
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("assets/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display SC";
  src: url("assets/fonts/PlayfairDisplaySC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Reset */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  color: #eeeff1;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
} /* End Reset */
html {
  background-color: #282332;
}

body {
  font-family: "Inter Variable", sans-serif;
  background-color: #282332;
  color: #eeeff1;
  cursor: default;
  overflow-x: hidden;
}

a {
  font-weight: 200;
  transition: font-weight 300ms ease-in-out;
  line-height: 1.1;
  text-align: end;
  display: block;
  cursor: default;
}
a:hover {
  font-weight: 900;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 50;
  background-color: #282332;
  background: linear-gradient(180deg, #282332 10%, rgba(0, 0, 0, 0) 70%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(1px);
}
header img {
  padding: 20px;
  filter: drop-shadow(0 0 5px #282332);
}
header ul {
  display: flex;
}
header ul li {
  opacity: 0.5;
}
header ul li svg {
  stroke: #eeeff1;
  width: 30px;
  height: 30px;
  padding: 10px;
}
header ul li span {
  display: none;
}

#hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 60vh;
  justify-content: end;
}
#hero .gradient-wrapper {
  position: relative;
}
#hero .gradient-wrapper .gradient-cover {
  position: absolute;
  background-color: transparent;
  background: linear-gradient(158deg, rgb(40, 35, 50) 29%, rgba(40, 35, 50, 0) 74%);
  background-size: 400%;
  width: 100%;
  height: 100%;
  animation: gradient-reveal 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
#hero .logo {
  height: 130px;
}
#hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  line-height: 1.1;
  font-variant: small-caps;
}
#hero p {
  display: inline-block;
  font-weight: 100;
  padding-top: 10px;
  color: #eeeff1;
}
#hero p span {
  opacity: 0;
  display: inline-block;
  transition: font-weight 0.3s;
  animation: initialBreathAndFadeIn 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
#hero p span:nth-of-type(2) {
  animation-delay: 1.025s;
}
#hero p span:nth-of-type(3) {
  animation-delay: 1.05s;
}
#hero p span:nth-of-type(4) {
  animation-delay: 1.075s;
}
#hero p span:nth-of-type(5) {
  animation-delay: 1.1s;
}
#hero p span:nth-of-type(6) {
  animation-delay: 1.125s;
}
#hero p span:nth-of-type(7) {
  animation-delay: 1.15s;
}
#hero p span:nth-of-type(8) {
  animation-delay: 1.175s;
}
#hero p span:nth-of-type(9) {
  animation-delay: 1.2s;
}
#hero p span:nth-of-type(10) {
  animation-delay: 1.225s;
}
#hero p span:nth-of-type(11) {
  animation-delay: 1.25s;
}
#hero p span:nth-of-type(12) {
  animation-delay: 1.275s;
}
#hero p span:nth-of-type(13) {
  animation-delay: 1.3s;
}
#hero p span:nth-of-type(14) {
  animation-delay: 1.325s;
}
#hero p span:nth-of-type(15) {
  animation-delay: 1.35s;
}
#hero p span:nth-of-type(16) {
  animation-delay: 1.375s;
}
#hero p span:nth-of-type(17) {
  animation-delay: 1.4s;
}
#hero p span:nth-of-type(18) {
  animation-delay: 1.425s;
}
#hero p span:nth-of-type(19) {
  animation-delay: 1.45s;
}
#hero p span:nth-of-type(20) {
  animation-delay: 1.475s;
}
#hero p span:nth-of-type(21) {
  animation-delay: 1.5s;
}
#hero p span:nth-of-type(22) {
  animation-delay: 1.525s;
}
#hero p span:nth-of-type(23) {
  animation-delay: 1.55s;
}
#hero p span:nth-of-type(24) {
  animation-delay: 1.575s;
}
#hero p span:nth-of-type(25) {
  animation-delay: 1.6s;
}
#hero p span:nth-of-type(26) {
  animation-delay: 1.625s;
}
#hero p span:nth-of-type(27) {
  animation-delay: 1.65s;
}
#hero p span:nth-of-type(28) {
  animation-delay: 1.675s;
}
#hero p span:nth-of-type(29) {
  animation-delay: 1.7s;
}
#hero p span:nth-of-type(30) {
  animation-delay: 1.725s;
}
#hero p span:nth-of-type(31) {
  animation-delay: 1.75s;
}
#hero p span:nth-of-type(32) {
  animation-delay: 1.775s;
}
#hero p span:nth-of-type(33) {
  animation-delay: 1.8s;
}
#hero p span:nth-of-type(34) {
  animation-delay: 1.825s;
}

#projects {
  max-width: 100vw;
  overflow-x: hidden;
  margin-top: 5rem;
  margin-bottom: 5rem;
  position: relative;
}
#projects .project-grid {
  display: grid;
  grid-template-rows: repeat(4, 8rem);
  grid-template-columns: repeat(6, 8rem);
  place-content: center;
  gap: 10px;
  padding: 20px;
  filter: blur(2px);
  user-select: none;
}
#projects .project-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
}
#projects .project-grid .grid-3-1 {
  grid-column: 3/span 2;
}
#projects .project-grid .grid-2-2 {
  grid-column: 2/span 2;
}
#projects .project-grid .grid-4-2 {
  grid-column: 4/span 1;
}
#projects .project-grid .grid-5-2 {
  grid-column: 5/span 1;
  grid-row: 2/span 2;
}
#projects .project-grid .grid-1-3 {
  grid-column: 1/span 2;
}
#projects .project-grid .grid-3-3 {
  grid-column: 3/span 2;
  grid-row: 3/span 2;
}
#projects .project-grid .grid-6-3 {
  grid-column: 6/span 1;
}
#projects .cta-gradient-button-background {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  background: transparent;
  background: linear-gradient(0deg, rgba(59, 9, 48, 0) 0%, rgba(38, 6, 31, 0.7953077508) 35%, rgba(0, 0, 0, 0.9138487842) 46%, rgba(0, 0, 0, 0) 100%);
}
#projects .cta-gradient-button-background button {
  position: relative;
  height: fit-content;
  top: 50%;
  translate: 0 -80%;
  mix-blend-mode: screen;
  opacity: 0.94;
}
#projects .cta-gradient-button-background button .bg-shapes {
  position: absolute;
  top: -25px;
  left: 0;
  display: flex;
  filter: blur(30px);
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  opacity: 0.53;
}
#projects .cta-gradient-button-background button .bg-shapes > * {
  width: 50px;
  height: 100px;
  border-radius: 100px;
  background-color: #f6c8de;
  mix-blend-mode: hard-light;
  animation: animate-btn-bg-shapes-1 1s infinite;
}
#projects .cta-gradient-button-background button .bg-shapes .s1 {
  translate: -5px 10px;
  rotate: 20deg;
  animation-delay: 0.2s;
  animation-duration: 8.4s;
}
#projects .cta-gradient-button-background button .bg-shapes .s2 {
  translate: 0 -10px;
  rotate: -20deg;
  animation-delay: 0.4s;
  animation-duration: 7s;
}
#projects .cta-gradient-button-background button .bg-shapes .s3 {
  translate: 0 20px;
  rotate: 10deg;
  animation-delay: 0.3s;
  animation-duration: 8.05s;
}
#projects .cta-gradient-button-background button .bg-shapes .s4 {
  translate: 0 5px;
  rotate: -5deg;
  animation-delay: 0.3s;
  animation-duration: 7.7s;
}
#projects .cta-gradient-button-background button .bg-shapes .s5 {
  translate: 0 -30px;
  rotate: 30deg;
  animation-delay: 0.5s;
  animation-duration: 7.35s;
}
#projects .cta-gradient-button-background button .bg {
  position: absolute;
  width: calc(100% + 60px);
  height: calc(1.5rem + 50px);
  top: -16px;
  left: -30px;
  background: rgb(216, 64, 166);
  background: linear-gradient(0deg, rgb(216, 64, 166) 0%, rgb(242, 141, 169) 100%);
  z-index: -1;
  border-radius: 100px;
  opacity: 0.39;
  transition-property: opacity, filter, scale;
  scale: 1;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  filter: blur(10px);
  box-shadow: 0 -4px 4px rgba(85, 17, 63, 0.2), 0 4px 4px rgba(255, 255, 255, 0.2);
}
#projects .cta-gradient-button-background button .shine {
  position: absolute;
  width: calc(100% + 48px);
  height: calc(1.5rem + 38px);
  top: -10px;
  scale: 1;
  left: -24px;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.45) 97%);
  z-index: -1;
  border-radius: 100px;
  filter: blur(5px);
  transition-property: filter, scale, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  opacity: 1;
}
#projects .cta-gradient-button-background button .shine-pressed {
  position: absolute;
  width: calc(100% + 48px);
  height: calc(1.5rem + 38px);
  top: -10px;
  scale: 1;
  left: -24px;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.45) 20%, rgba(255, 255, 255, 0.15) 97%);
  z-index: -1;
  border-radius: 100px;
  filter: blur(5px);
  transition-property: filter, scale, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  opacity: 0;
}
#projects .cta-gradient-button-background button .btn-text {
  font-family: "Inter Variable";
  position: relative;
  top: 5px;
  scale: 1;
  font-weight: 800;
  font-size: 1.5rem;
  z-index: 10;
  transition-property: text-shadow, top, scale;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
#projects .cta-gradient-button-background button:hover .bg {
  opacity: 0.7;
  filter: blur(5px);
  scale: 1.05;
}
#projects .cta-gradient-button-background button:hover .shine {
  filter: blur(1px);
  scale: 1.05;
}
#projects .cta-gradient-button-background button:hover .shine-pressed {
  filter: blur(1px);
  scale: 1.05;
}
#projects .cta-gradient-button-background button:hover .btn-text {
  top: 2px;
  scale: 1.05;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
#projects .cta-gradient-button-background button:hover .bg-shapes {
  opacity: 0.7;
}
#projects .cta-gradient-button-background button:active .btn-text {
  top: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
#projects .cta-gradient-button-background button:active .shine {
  opacity: 0;
}
#projects .cta-gradient-button-background button:active .shine-pressed {
  opacity: 1;
}

#gallery-3d {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: transparent;
  display: none;
  z-index: 50;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
#gallery-3d.show {
  display: block;
}

.close-gallery-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(238, 239, 241, 0.1);
  color: #eeeff1;
  border-radius: 100%;
  font-size: 2rem;
  cursor: pointer;
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
  font-size: 1rem;
  z-index: 100;
  padding: 10px;
  transition-property: opacity, filter;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  filter: blur(0px);
}
.close-gallery-button svg {
  width: 100%;
  height: 100%;
}

.project-details {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(40, 35, 50, 0.5);
  width: 100%;
  height: 100%;
  z-index: 110;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-details-content {
  color: rgba(238, 239, 241, 0.9);
}
.project-details-content .title-bar {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: 900;
  animation: fade-in 0.3s ease-in-out;
}
.project-details-content .title-bar .close {
  width: 40px;
  height: 40px;
  background-color: rgba(238, 239, 241, 0.1);
  border-radius: 100%;
  padding: 8px;
  scale: 1;
  filter: brightness(1);
  transition-property: scale, filter, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.project-details-content .title-bar .close:hover {
  scale: 1.05;
  filter: brightness(1.08);
}
.project-details-content .title-bar .close:active {
  background-color: rgba(40, 35, 50, 0.01);
  box-shadow: inset 2px -1px 0px rgba(0, 0, 0, 0.01), inset -2px -2px 0px rgba(0, 0, 0, 0.01), inset 2px -1px 0px rgba(255, 255, 255, 0.01), inset 2px 2px 0px rgba(0, 0, 0, 0.01);
}
.project-details-content .bento {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 10px;
}
.project-details-content .bento .card {
  padding: 15px;
  border-radius: 20px;
  scale: 1;
  filter: brightness(1);
  transition-property: scale, filter;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.project-details-content .bento .card:hover {
  scale: 1.01;
  filter: brightness(1.08);
}
.project-details-content .bento .project-image {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.project-details-content .bento .project-image p {
  font-weight: bold;
  font-size: 1.5rem;
}
.project-details-content .bento .project-image img {
  width: 100%;
  height: calc(100% - 1.5rem - 8px);
  object-fit: cover;
  object-position: top left;
  border-radius: 8px;
}
.project-details-content .bento .project-image.landing-page {
  grid-column: 1/span 3;
  grid-row: 1/span 2;
  opacity: 0;
  filter: blur(10px);
  animation: fade-blur-in 0.5s ease-in-out 0s forwards;
}
.project-details-content .bento .project-image.tenant-app {
  grid-column: 4/span 1;
  grid-row: 1/span 2;
  opacity: 0;
  filter: blur(10px);
  animation: fade-blur-in 0.5s ease-in-out 0.1s forwards;
}
.project-details-content .bento .project-image.cleaner-app {
  grid-column: 2/span 1;
  grid-row: 3/span 1;
  justify-content: space-between;
  opacity: 0;
  filter: blur(10px);
  animation: fade-blur-in 0.5s ease-in-out 0.3s forwards;
}
.project-details-content .bento .project-image.cleaner-app img {
  object-fit: contain;
  width: auto;
  height: auto;
}
.project-details-content .bento .project-image.admin-panel {
  opacity: 0;
  filter: blur(10px);
  animation: fade-blur-in 0.5s ease-in-out 0.4s forwards;
}
.project-details-content .bento .project-image.admin-panel img {
  object-fit: contain;
  object-position: center;
}
.project-details-content .bento .description {
  opacity: 0;
  filter: blur(10px);
  animation: fade-blur-in 0.5s ease-in-out 0.2s forwards;
}
.project-details-content .bento .made-with {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  opacity: 0;
  filter: blur(10px);
  animation: fade-blur-in 0.5s ease-in-out 0.5s forwards;
}
.project-details-content .bento .made-with h4 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.project-details-content .bento .made-with ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.project-details-content .bento .made-with ul img {
  width: 60px;
  aspect-ratio: 1;
}

.glass {
  box-shadow: inset -1px 0.5px 0px rgba(0, 0, 0, 0.15), inset 1px -0.5px 0px rgba(255, 255, 255, 0.25), inset -1px 0.5px 0px rgba(255, 255, 255, 0.4), inset -1px -1px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  background-color: rgba(238, 239, 241, 0.1);
  border: 1px solid rgba(238, 239, 241, 0.1);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 200;
  bottom: 0;
  padding: 10px 30px;
}
footer button {
  font-size: 1rem;
  font-weight: 200;
  padding: 0;
  margin: 0;
}
footer button svg {
  width: 30px;
  height: 30px;
  padding: 10px;
  margin-left: -10px;
  margin-bottom: -10px;
}
footer button span {
  display: none;
}
footer p {
  opacity: 0.5;
  font-size: 0.7rem;
  margin-bottom: -10px;
}

.hidden {
  display: none;
}

/* Keyframes */
@keyframes gradient-reveal {
  0% {
    background-position: top left;
  }
  10% {
    background-position: top left;
  }
  100% {
    background-position: bottom right;
  }
}
@keyframes initialBreath {
  0%, 100% {
    font-weight: 100;
  }
  10% {
    font-weight: 200;
  }
  20% {
    font-weight: 300;
  }
  30% {
    font-weight: 400;
  }
  40% {
    font-weight: 500;
  }
  50% {
    font-weight: 600;
  }
  60% {
    font-weight: 900;
  }
  70% {
    font-weight: 800;
  }
  80% {
    font-weight: 700;
  }
  90% {
    font-weight: 600;
  }
}
@keyframes initialBreathAndFadeIn {
  0% {
    font-weight: 100;
    opacity: 0;
  }
  10% {
    font-weight: 200;
    opacity: 0.1;
  }
  20% {
    font-weight: 300;
    opacity: 0.2;
  }
  30% {
    font-weight: 400;
    opacity: 0.3;
  }
  40% {
    font-weight: 500;
    opacity: 0.4;
  }
  50% {
    font-weight: 600;
    opacity: 0.5;
  }
  60% {
    font-weight: 900;
    opacity: 0.6;
  }
  100% {
    font-weight: 900;
    opacity: 1;
  }
}
@keyframes animate-btn-bg-shapes-1 {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  33% {
    transform: translateY(-10px) rotate(-20deg);
  }
  66% {
    transform: translateY(10px) rotate(20deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
/* Media Queries */
@media (min-width: 800px) {
  header ul {
    flex-direction: column;
    padding-right: 20px;
  }
  header ul li svg {
    display: none;
  }
  header ul li span {
    display: block !important;
  }
}
@keyframes fade-blur-in {
  0% {
    opacity: 0;
    filter: blur(10px);
    scale: 1.1;
  }
  100% {
    opacity: 1;
    filter: blur(0);
    scale: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.cta {
  background-color: transparent;
  border-radius: 50px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out, box-shadow 0.3s ease-in-out, filter 0.3s ease-in;
  width: fit-content;
  margin-inline: auto;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  color: rgba(238, 239, 241, 0.9);
  font-weight: bold;
  filter: saturate(1);
  border: 1px solid rgba(238, 239, 241, 0.02);
  box-shadow: 1px 4px 10px rgba(238, 239, 241, 0), 1px 4px 10px rgba(238, 239, 241, 0), 1px 4px 10px rgba(238, 239, 241, 0), 1px 4px 10px rgba(238, 239, 241, 0), inset 0px 2px 5px 1px rgba(238, 239, 241, 0.1), inset 0px 2px 5px 1px rgba(238, 239, 241, 0), inset 0px 2px 5px 1px rgba(238, 239, 241, 0), inset 0px 2px 5px 1px rgba(238, 239, 241, 0);
}
.cta img {
  width: 80px;
  opacity: 0;
  scale: 0.9;
  translate: -10px;
  transition: scale 0.5s cubic-bezier(0.25, 0.25, 0.2, 1.6), translate 0.5s cubic-bezier(0.25, 0.25, 0.2, 1.6), margin-top 0.3s ease-in-out, margin-bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-right: -5px;
}
.cta span {
  margin-left: -75px;
  text-transform: uppercase;
  padding: 20px;
  padding-inline: 10px;
  transition: margin-left 0.3s ease-in-out;
}
.cta:hover {
  background-color: rgba(238, 239, 241, 0.02);
  font-weight: bold;
  color: #eeeff1;
  border: 1px solid rgba(238, 239, 241, 0.8);
  filter: saturate(8);
  box-shadow: 1px -1px 15px rgba(156, 255, 250, 0.662745098), 1px 1px 10px rgba(242, 105, 137, 0.662745098), -1px -1px 15px rgba(241, 187, 234, 0.6), -1px 1px 15px rgba(243, 202, 64, 0.3333333333), inset 1px 1px 5px 0 rgba(241, 187, 234, 0.6666666667), inset -1px 1px 5px 0 rgba(156, 255, 250, 0.6666666667), inset 1px -1px 5px 0 rgba(243, 202, 64, 0.6666666667), inset -1px -1px 5px 0 rgba(242, 105, 137, 0.6666666667);
}
.cta:hover img {
  opacity: 1;
  scale: 1;
  translate: 0;
  margin-top: -5px;
  margin-bottom: -5px;
}
.cta:hover span {
  margin-left: 1px;
  transition: margin-left 0.5s cubic-bezier(0.25, 0.25, 0.2, 1.6);
}

/* Prevent hover stick */
@media (hover: hover) {
  #projects .current-project .nav-buttons button:hover {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
